.shortenLinks {
  position: relative;

  &>* {
    position: relative;
    z-index: 1;
  }
}

.shortenLinkForm {
  position: relative;
  z-index: 2;
  padding: 24px;
}

.shortenedLinks {
  position: relative;
  z-index: 1;

  &>li:first-child {
    padding-top: 25px;
  }
}

.background {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 8.25rem;
  width: 100%;
  height: calc(100% - 8.25rem);

  background-color: var(--shorten-links-background-color);
  opacity: 0.25;
}


////////////////// Tablets ////////////////////

@media screen and (min-width: 750px) {
  .shortenLinkForm {
    padding: 52px 65px;
  }
}


////////////////// Wider Screens ////////////////////

@media screen and (min-width: 1200px) {}