.shortenedLinks {
  list-style-type: none;
}

.shortenedLinks li {
  margin-bottom: 25px;

  animation-name: slideDown;
  animation-timing-function: ease-out;
  animation-duration: 400ms;
}

.shortenedLinks li:last-child {
  margin-bottom: 0;
}


@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100%);
  }

  to {
    opacity: 1;
  }
}


////////////////// Wider Screens ////////////////////

@media screen and (min-width: 1200px) {
  .shortenedLinks li {
    margin-bottom: 15px;
  }
}