.landingPage {}

.heroImage {
  padding: 0 25px 88px;
}

.shortenLinks {
  padding: 0 25px;
}

.sellingPoints {
  padding: 87px 25px 80px;
}

.callToAction {
  padding: 95px 25px;
}


////////////////// Tablets ////////////////////

@media screen and (min-width: 750px) {}


////////////////// Wider Screens ////////////////////

@media screen and (min-width: 1200px) {
  .heroImage {
    padding: 0 12% 88px;
  }
}