@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/poppins-medium-webfont.woff2") format('woff2'),
    url('./assets/fonts/poppins-medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url("./assets/fonts/poppins-bold-webfont.woff2") format('woff2'),
    url('./assets/fonts/poppins-bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Primary */
  --cyan: hsl(180, 66%, 49%);
  --dark-violet: hsl(257, 27%, 26%);

  /* Secondary */
  --red: rgb(244, 98, 98);

  /* Neutral */
  --grey: hsl(0, 0%, 75%);
  --greyish-violet: hsl(257, 7%, 63%);
  --very-dark-blue: hsl(255, 11%, 22%);
  --very-dark-violet: hsl(260, 8%, 14%);

  /* /////////////////////////////////// */

  --font-family: Poppins, Arial, Helvetica, sans-serif;
  --error-text-color: rgba(244, 98, 98, 0.7);
  --input-error-border-color: rgba(244, 98, 98, 0.9);

  --text-primary: var(--greyish-violet);
  --text-secondary: var(--very-dark-blue);
  --button-background-color: var(--cyan);
  --button-text-color: white;
  --modal-background-color: var(--dark-violet);
  --mobile-nav-text-color: white;
  --mobile-nav-divider-color: var(--grey);

  --shorten-links-background-color: var(--grey);
  --shorten-link-form-background-color: var(--dark-violet);

  --shortened-link-background-color: white;
  --shortened-link-long-color: var(--very-dark-blue);
  --shortened-link-separator-color: var(--grey);
  --shortened-link-short-color: var(--cyan);
  --shortened-link-activated-button-background-color: var(--dark-violet);

  --selling-points-background-color: var(--grey);
  --selling-point-background-color: white;
  --selling-point-connector-color: var(--cyan);
  --icon-background-color: var(--dark-violet);

  --call-to-action-background-color: var(--dark-violet);
  --call-to-action-text-color: #ffffff;

  --footer-background-color: var(--very-dark-violet);
  --footer-heading-text-color: white;
  --footer-link-hover-color: var(--cyan);

  --spinner-color: var(--cyan);
  --spinner-background-color: var(--grey);

  /* //////////////////////////////////// */

  font-family: var(--font-family);
  font-size: 10px;
  font-weight: 500;
  color: var(--text-primary);
}

body {
  /* Set body font-size back to usual default */
  font-size: 1.8rem
}