*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  /* Set document-wide 'rem' value */
  font-size: 10px;
}

body {
  /* Set body font-size back to usual default */
  font-size: 16px
}